/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1650px) {
  .attention-text {
    max-width: 450px; }
  .organization-name {
    max-width: 350px; }
  .list-documents {
    margin: 0 auto; }
  .info-text {
    max-width: 500px; }
  .about-box h3 {
    font-size: 22px; } }

@media only screen and (max-width: 1570px) {
  header .logo-text {
    max-width: 400px; }
  .home-slider__title {
    font-size: 48px;
    line-height: normal; } }

@media only screen and (max-width: 1480px) {
  .list-documents li {
    margin: 0 20px 0 0; }
  .copyright {
    margin: 0 auto; }
  .organization-name {
    max-width: 300px; }
  .attention-text {
    max-width: 350px; }
  .news {
    margin: 50px 0 30px; }
    .news h2 {
      margin: 0 0 30px; }
  .news-box__img {
    height: 320px; }
  .news-box__body {
    height: calc(100% - 320px);
    padding: 20px; }
  .menu {
    font-size: 24px; }
    .menu li {
      margin: 0 20px 0 0; }
  header .logo-icon {
    max-width: 60px; }
  header .logo-text {
    max-width: 350px; }
  .task-section:before {
    width: 650px;
    height: 620px;
    top: -30px;
    right: 0; } }

@media only screen and (max-width: 1370px) {
  .info-text {
    max-width: 375px; }
  .attention-text {
    max-width: 340px; }
  .info-link {
    margin: 0 auto; }
  .about-box h3 {
    font-size: 18px; }
  .about-box__icon {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 70px;
    margin: 0 10px 0 0; }
  .about-box__head {
    margin: 0 0 20px; }
  .about {
    background-size: 800px; }
  .home-slider__title {
    font-size: 50px;
    line-height: normal; }
  .menu {
    font-size: 18px;
    margin: 0 30px 0 auto; }
  .command {
    margin: 0 0 50px; }
  .command-box {
    padding: 20px; }
    .command-box__img {
      width: 170px;
      height: 170px; }
    .command-box__body {
      width: calc(100% - 170px);
      padding: 0 0 0 20px; }
  .command-section {
    margin: 0 0 60px; } }

@media only screen and (max-width: 1240px) {
  .info-link {
    max-width: none;
    width: 100%;
    margin: 10px auto;
    text-align: center; }
  footer .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: none;
    width: 100%; }
  .organization-name {
    max-width: 50%;
    margin: 10px 0 0; }
  .attention-text {
    max-width: 50%;
    margin: 10px 0 0; }
  .info-text {
    width: 100%;
    max-width: none;
    margin: 10px auto 0;
    text-align: center;
    padding: 0 90px; }
  .counter {
    position: absolute;
    bottom: 0;
    right: 15px; }
  .list-documents {
    max-width: none;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px auto 0; }
  .copyright {
    margin: 0 0 0 auto; } }

@media only screen and (max-width: 1200px) {
  .form-calculate {
    width: 100%;
    padding: 0;
    margin: 20px 0 0; }
    .form-calculate label, .form-calculate .form-group {
      max-width: 32%;
      width: 100%; }
  .calculate-title {
    text-align: center;
    max-width: none;
    width: 100%; }
  .calculate-wrapper {
    padding: 30px; }
  .calculate-section {
    margin: 60px 0; }
  .actual-quote-item .box-text {
    font-size: 30px;
    line-height: normal; }
    .actual-quote-item .box-text:after, .actual-quote-item .box-text:before {
      font-size: 120px; }
  .actual-quote-slider {
    padding: 40px; }
  h2 {
    font-size: 40px;
    line-height: normal; }
  .actual-quote h2 {
    margin: 0 auto 30px; }
  header .menu {
    display: none; }
  header .logo {
    margin: 0 auto 0 26px; }
  .btn-burger {
    display: block;
    margin: 0 0 0 20px; }
  .project-card {
    padding: 20px;
    margin: 0 0 40px;
    font-size: 16px; }
    .project-card .box-text {
      font-size: 16px; }
    .project-card h3 {
      font-size: 30px;
      margin: 20px 0; }
    .project-card__body {
      padding: 0 0 0 30px; }
  .mail {
    font-size: 24px; }
  .contacts-box {
    margin: 0 0 30px; }
    .contacts-box span {
      font-size: 20px; }
  .contacts .name-company, .address {
    font-size: 30px; }
  .contacts {
    margin: 0 0 50px; }
  .partners-box {
    padding: 30px; }
    .partners-box__body {
      padding: 0 0 0 20px; }
  .command-box__img {
    width: 80px;
    height: 80px; }
  .command-box__body {
    width: calc(100% - 80px); }
  .command-box h4 {
    margin: 0 0 10px; }
  .command-box .links {
    margin: 10px 0 0; }
  .command-box-max {
    padding: 30px; }
    .command-box-max .command-box__img {
      width: 150px;
      height: 150px; }
    .command-box-max .command-box__body {
      padding: 0 0 0 20px;
      width: calc(100% - 150px); }
  .article h1 {
    margin: 0 0 30px; }
  .article .box-text {
    margin: 0 0 30px; }
    .article .box-text p {
      margin: 0 0 20px; }
  .article-image {
    margin: 60px 0; }
  .recommended-article {
    margin: 0 0 80px; }
    .recommended-article h2 {
      margin: 0 0 30px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .actual-quote-item .box-text {
    font-size: 22px;
    line-height: normal; }
    .actual-quote-item .box-text:before, .actual-quote-item .box-text:after {
      font-size: 80px;
      line-height: 1; }
    .actual-quote-item .box-text:before {
      margin: -20px 20px 0 0; }
    .actual-quote-item .box-text:after {
      margin: -20px 0 0 20px; }
  .home-slider .slick-slide:before {
    width: 100%; }
  .mission-img {
    margin: 30px 0 0; }
  h1 {
    font-size: 40px; }
  .contacts .name-company, .address {
    font-size: 24px; }
  .address {
    margin: 0 0 30px; }
  .doctor-box {
    margin: 0; }
  .partners-box {
    padding: 20px; }
    .partners-box__icon {
      max-width: 100px; }
    .partners-box__body {
      width: calc(100% - 100px); }
    .partners-box__name {
      font-size: 20px;
      margin: 0 0 20px; }
  .partner-image {
    margin: 30px 0 0;
    height: auto; }
  .partner-page {
    margin: 0 0 60px; }
  .project-page {
    margin: 0 0 40px; }
  .sidebar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    max-width: 280px;
    background: #FFFFFF;
    z-index: 3;
    padding: 20px; }
  .description-text {
    margin: 0 0 30px; }
  .menu-project {
    font-size: 16px; }
    .menu-project li {
      margin: 0; }
  .btn-close-sidebar {
    display: block; }
  .btn-sidebar {
    margin: 0 0 30px; }
  .command .mission-img {
    height: auto; }
  .command-section {
    margin: 0 0 30px; }
  #userModal .modal-content {
    padding: 30px; }
  #userModal .modal-title {
    margin: 0 0 20px; }
  #userModal .modal-header .close {
    top: 20px;
    right: 20px; }
  .command-box-modal .command-box__img {
    width: 200px;
    height: 200px; }
  .command-box-modal .command-box__body {
    width: calc(100% - 200px);
    padding: 0 0 0 30px; }
  .command-box-modal .command-box__info {
    font-size: 18px;
    margin: 0 0 20px;
    line-height: normal; }
  .command-box-modal .box-text {
    font-size: 16px; }
  .command-box-max {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .command-box-max .command-box__body {
      width: 100%;
      padding: 0;
      margin: 20px 0 0; }
    .command-box-max .command-box__img {
      margin: 0 auto; }
    .command-box-max .command-box__info, .command-box-max h4 {
      text-align: center; }
  .article .mission-img {
    margin: 0 0 20px 0;
    height: auto; }
  .article-image {
    margin: 30px 0; }
  .recommended-article {
    margin: 0 0 50px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .calculate-section {
    margin: 40px 0; }
  .form-calculate {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .form-calculate label, .form-calculate .form-group {
      max-width: none; }
    .form-calculate .form-group {
      margin: 0; }
    .form-calculate button {
      height: 50px; }
    .form-calculate h2 {
      font-size: 30px; }
  h2 {
    font-size: 36px; }
  .quote-author {
    font-size: 20px; }
  .about {
    background-size: 100%;
    padding: 60px 0; }
  .tasks-content h2 {
    margin: 0 0 30px; }
  .home-slider__title {
    font-size: 40px; }
  header {
    padding: 15px 0; }
    header .btn {
      font-size: 14px; }
    header .logo-text {
      max-width: 260px; }
    header .logo {
      margin: 0 auto 0 15px; }
      header .logo:before {
        width: calc(100% + 30px);
        left: -15px;
        bottom: -15px;
        height: calc(100% + 30px); }
  .modal-title {
    font-size: 40px;
    line-height: normal; }
  h1 {
    font-size: 30px; }
  .task-section:before {
    width: 100%;
    height: 100%;
    top: auto;
    bottom: -90px; }
  .project-card__img {
    margin: 0 auto 20px; }
  .project-card__body {
    width: 100%;
    padding: 0; }
  .project-card h3 {
    font-size: 24px; }
  .contacts .name-company, .address, .mail, .contacts-box span, .mail-doctor {
    font-size: 18px; }
  .contacts .name-company {
    margin: 0 0 24px; }
  .contacts .btn {
    font-size: 18px; }
  .partner-info {
    margin: 0 0 30px; }
  .partner-content .box-text {
    font-size: 16px;
    line-height: normal; }
    .partner-content .box-text p {
      margin: 0 0 20px; }
  .mb-35 {
    margin-bottom: 25px; }
  .command-box-modal {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .command-box-modal .command-box__body {
      padding: 0;
      width: 100%;
      margin: 20px 0 0; }
    .command-box-modal .command-box__img {
      margin: 0 auto; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .info-text {
    padding: 0; }
  .counter {
    display: none; }
  footer {
    padding: 30px 0; }
  .attention-text, .organization-name {
    max-width: 100%; }
  .list-documents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .list-documents li {
      margin: 0 auto 10px; }
  h2 {
    font-size: 30px; }
  .actual-quote-item .box-text {
    font-size: 20px; }
    .actual-quote-item .box-text:before, .actual-quote-item .box-text:after {
      font-size: 50px;
      margin-top: -15px; }
  .actual-quote-slider {
    padding: 30px;
    border-radius: 20px; }
  .about-box {
    padding: 30px; }
    .about-box__body {
      font-size: 16px;
      max-width: none; }
  .home-slider__title {
    font-size: 30px; }
  .home-item {
    margin: 140px 0 176px; }
    .home-item .btn-group {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .home-item .btn-group .btn {
        margin: 0 0 10px;
        padding: 0 20px;
        max-width: 270px;
        width: 100%; }
  .box-text {
    font-size: 16px;
    line-height: normal; }
  header .btn {
    display: none; }
  header .logo-text {
    max-width: 200px;
    margin: 0 0 0 10px; }
  header .logo-icon {
    max-width: 40px; }
  .modal-title {
    font-size: 30px; }
  .modal-header {
    margin: 0 0 20px; }
    .modal-header .close {
      padding: 10px;
      width: 36px;
      height: 36px; }
  input, textarea, select {
    font-size: 16px; }
  input, select {
    height: 50px; }
  h1 {
    font-size: 24px;
    margin: 0 0 30px; }
  .mission {
    margin: 0 0 50px; }
  .task-section:before {
    display: none; }
  .mission-img {
    height: 300px; }
  .projects {
    margin: 0 0 70px; }
  .mb-40 {
    margin-bottom: 30px; }
  .partners {
    margin: 0 0 30px; }
  .partner-name {
    padding: 0 0 0 20px; }
  .partner-links {
    font-size: 18px; }
  .article-image {
    height: auto; }
  .breadcrumb {
    font-size: 14px; }
  .link-web {
    font-size: 14px; } }

@media only screen and (max-width: 480px) {
  .actual-quote-item .box-text:before, .actual-quote-item .box-text:after {
    display: none; }
  .home-slider__title {
    font-size: 24px; }
  .project-card__img {
    height: auto; }
  header .logo-text {
    max-width: 160px; }
  .partners-box__icon {
    max-width: 80px; }
  .partners-box__body {
    width: calc(100% - 80px); }
  .partners-box__name {
    font-size: 18px; }
  .partner-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .partner-name {
    padding: 0;
    margin: 20px 0 0;
    width: 100%; }
  .link-web {
    font-size: 12px; } }
