@import "vars"

/*==========  section partners ==========*/
.partners
  margin: 0 0 50px
  h2
    margin: 0 0 64px

.partners-box
  width: 100%
  height: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  border: 1px solid #C4C4C4
    radius: 20px
  padding: 42px 40px
  &__icon
    max-width: 177px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
  &__body
    width: calc(100% - 177px)
    padding: 0 0 0 64px
  &__name
    text-transform: uppercase
    margin: 0 0 46px
    color: #676767
    font-size: 24px
    font-weight: bold
    &:hover
      color: $accent
  .btn
    max-width: 255px
    width: 100%
    font-size: 14px
/*==========  section partners end  ==========*/



/*==========  section partner-page ==========*/
.partner-page
  margin: 0 0 124px

.partner-content
  .box-text
    font-size: 18px
    line-height: 21px
    color: #676767
    p
      margin: 0 0 35px

.partner-info
  display: flex
  align-items: flex-start
  margin: 0 0 70px
  h1
    max-width: 490px
    margin: 0 0 26px

.partner-links
  color: #5FA17B
  font-size: 24px
  &:hover
    color: $grey

.partner-logo
  max-width: 128px
  width: 100%
  display: flex
  align-items: center

.partner-name
  width: calc(100% - 128px)
  padding: 0 0 0 56px

.partner-image
  width: 100%
  height: 599px
  border-radius: 10px
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%
    height: 100%
    object-fit: cover

/*==========  section partner-page end  ==========*/



